<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="/img/logo/logo.png" type="image/x-icon">
    <title> {% block title %} Trang phim {% endblock %} </title>
    {% block style %}
        {% include  'layouts/styles.twig' %}

    {% endblock %}
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
<body>
    {% include 'layouts/nav.twig' %};
    <main>
        {% block content %}{% endblock %}
    </main>
     {% include 'layouts/footer.twig' %}
     
    {% block scripts %}
        {% include 'layouts/script.twig' %}
    {% endblock %}




</body>
</html>